
@{
    ViewBag.Title = "Category";
}


<div style="text-align: center">
    <p> <hr class="dashed" style="border-top: 3px solid #808080">Category</p>
</div>
<br/>


<div class="container" >
    <div class="row" style="text-align:center">
        <div class="card-columns" style=" grid-row-gap:20px; column-count: auto; width:15000px;">

            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>


            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style=" margin: 5px; width: 200px;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-price">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>


