
@{
    ViewBag.Title = "Category";
}


<div style="text-align: center">
    <p> <hr class="dashed" style="border-top: 3px solid #808080">Category</p>
</div>
<br/>


<div class="grid" style="grid-template-columns: auto auto auto;">
    <div class="column justify-content-md-center" style="padding: 20px;">
        <div class="row justify-content-md-center" style="grid-row-gap: 50px;">
            <div class="card text-center" style="width: 12rem;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Item 1</h5>
                    <p class="card-price" style="text-align:center">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>


            <div class="card text-center" style="width: 12rem;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Item 1</h5>
                    <p class="card-price" style="text-align:center">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style="width: 12rem;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Item 1</h5>
                    <p class="card-price" style="text-align:center">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style="width: 12rem;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Item 1</h5>
                    <p class="card-price" style="text-align:center">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style="width: 12rem;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Item 1</h5>
                    <p class="card-price" style="text-align:center">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style="width: 12rem;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Item 1</h5>
                    <p class="card-price" style="text-align:center">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>

            <div class="card text-center" style="width: 12rem;">
                <br />
                <img class="card-img-top" src="~/imgSlider/leek.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">Item 1</h5>
                    <p class="card-price" style="text-align:center">Rs 00.00/Unit</p>
                    <a href="button" class="btn btn-primary btn-sm">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>


